<h3>User Details</h3>
<div>
    <div>
        <label> <b>Id:</b></label>{{admin.id}}
    </div>
    <div>
        <label> <b>Firstname:</b></label>{{admin.firstname}}
    </div>
    <div>
        <label> <b>Lastname:</b></label>{{admin.lastname}}
    </div>
    <div>
        <label> <b>Username:</b></label>{{admin.username}}
    </div>
    <div>
        <label> <b>Email:</b></label>{{admin.email}}
    </div>
    <div>
        <label> <b>Phonenumber:</b></label>{{admin.phonenumber}}
    </div>
    <div>
        <label> <b>Date Of Birth:</b></label>{{admin.dob}}
    </div>
    <div>
        <label> <b>Department:</b></label>{{admin.department}}
    </div>
    

</div>